PyYAML
-e ../../OLCF_QLS

qiskit
qiskit-aer                    
qiskit-algorithms             
qiskit-ibm-runtime            
qiskit-qasm3-import 
qiskit-iqm

jupyterlab
matplotlib
python-dotenv
numpy

